[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/skypro/app
ExecStart=/home/skypro/app/venv/bin/python -m gunicorn main:app -b 0.0.0.0:25000 -w 4
Restart=always

[Install]
WantedBy=multi-user.target
